@font-face{ font-family:walt; src: url(/fonts/waltographUI.ttf); }
@font-face{ font-family:cold; src: url(/fonts/Black\ Santa.ttf); }
@font-face{ font-family:horror; src: url(/fonts/FEASFBRG.TTF); }
@font-face{ font-family:sky; src: url(/fonts/Blaize.otf); }
@font-face{ font-family:john; src: url(/fonts/johnnytorchexpand.ttf); }
.backimg {

    background-image: url('/images/Jupiter_Flyby_HP.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color:red;
    font-family:sky ;
    font-size: 30px;
  }
  .jeo{
    font-family: john;
  }
  body, html {
    height: 100%;
    margin: 0;
  }
  .logo {
    position: absolute;
    top: 0;
    left: 16px;
    transition: all .9s ease;
  }

  .logo:hover{
    transform:scale(1.2);
}
  
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
    font-family: cold;
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  hr {
    margin: auto;
    width: 40%;
  }
   
  .landingButton {
    color: black;
    background-color: purple;
    font-family: horror;
    font-size: 20px;
    text-decoration:none;
    border-radius: 200px
  }

  .landingButton:hover{
   background-color: red;
  }
  .gamePage1{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    border:solid black;
  }
  .title1{
    grid-column: span 2;
    grid-row: 1;
    text-align: center;
    font-family: cold;
  }
  .question1{
    grid-column: 1;
    grid-row: 2;
    height: 80vh;
    padding-top: 80px;
  }
  
  .question2{
    grid-column: 1;
    grid-row: 3;
  }

  .question3{
    grid-column: 1;
    grid-row: 4;
  }

  .question4{
    grid-column: 1;
    grid-row: 5;
  }

  .question5{
    grid-column: 1;
    grid-row: 6;
  }
   .cat1Head1{
     text-align: center;
   }
   .cat1que1{
     text-align:center
   }
   .cat1ans{
    grid-column: 2;
    grid-row: 2;
    height: 80vh;
    padding-top: 80px;
    border:solid black;
   }
   .que1but{
    height: 10vh;
    margin: 20px;
    align-items: center
   }

   table{
    text-align:center;
    color:white;
    background-color:rgb(42, 116, 116);
     border:1;
     height:80vh;
     width:80vh;
     border: solid black;
     margin-left: 30%;
     margin-top: 5%
   }
   td{
     border:solid black;
   }

   .gameBox{
 
   }


   .gameboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: para;
    height: 100%;
}
.scores{
    display: flex;
    justify-content: space-around;
}
.player1, .player2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.score{
    width: 400px;
    height: 60px;
    border-radius: 10px;
    background-color: white;
    margin-top: 10px;
}
.name{
    width: 350px;
    height: 100px;
    border-radius: 10px;
}
.cat{
    display: flex;
    width: 100%;
    height: 15%;
    /* border: solid green; */
    justify-content: center;
}
.categories{
    height: 100px;
    width: 150px;
    border: solid white 2pt;
    background-color: #092a4e;
    border-radius: 15px;
    margin: 5px 5px 65px 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bolder;
    color: aliceblue;
    /* line-height: 100px; */
    display: flex;
    align-items: center;
}
.row{
    display: flex;
    width: 100%;
    justify-content: center;
}
.questions{
    height: 100px;
    width: 150px;
    border: solid white 2pt;
    background-color: #092a4e;
    border-radius: 15px;
    margin: 5px;
    text-align: center;
    line-height: 100px;
    font-size: 2em;
    font-weight: bolder;
    color: aliceblue;
}
.questions:hover{
    opacity: .7;
}

