@font-face{ font-family:walt; src: url(/fonts/waltographUI.ttf); }
@font-face{ font-family:cold; src: url(/fonts/Black\ Santa.ttf); }
@font-face{ font-family:horror; src: url(/fonts/FEASFBRG.TTF); }
@font-face{ font-family:sky; src: url(/fonts/Blaize.otf); }
@font-face{ font-family:john; src: url(/fonts/johnnytorchexpand.ttf); }
/* Styling for landing page */
.backimg {

    background-image: url('/images/Jupiter_Flyby_HP.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color:red;
    font-family:sky ;
    font-size: 30px;
  }
  .jeo{
    font-family: john;
  }
  body, html {
    height: 100%;
    margin: 0;
  }
  /* Styling for Logo */
  .logo {
    position: absolute;
    top: 0;
    left: 16px;
    transition: all .9s ease;
  }

  .logo:hover{
    transform:scale(1.2);
}
  
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
    font-family: cold;
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  hr {
    margin: auto;
    width: 40%;
  }
   /* Styling for Landing Button */
  .landingButton {
    color: black;
    background-color: purple;
    font-family: horror;
    font-size: 20px;
    text-decoration:none;
    border-radius: 200px
  }

  .landingButton:hover{
   background-color: red;
  }
  /* Styling for Game Board */
  .gamePage1{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    border:solid black;
    background-image: url(/images/rose.jpeg);
    background-repeat:  no-repeat;
    background-size: cover
  }
  .title1{
    grid-column: span 2;
    grid-row: 1;
    text-align: center;
    font-family: cold;
  }
  
   #cat{
     text-align: center;
     font-family: john;
   }
   

   table{
    text-align:center;
    color:black;
    background-color:rgb(42, 116, 116);
     height:80vh;
     width:115vh;
     border: solid black;
     margin-left: 30%;
     margin-top: 10%
   }
   td{
     border:solid black;
   }

/* Style for Button for Game board*/
.btn {
  background-color: rgb(42, 116, 116);
  color: yellow;
  width: 115px;
  height: 75px;
  border-radius: 25px; 
}
/* Style for pop up page */
.popUp {
  height: 50px;
  font-size: 100px;
  font-weight: 10px;
  text-align: center;
  color: gold;
  margin-top: 30px
}
  
.countDown {
  color: red;
}

.gameQue {
  font-size: 50px;
  font-family: john; 
}

/* Style for Modal */
.modalDialog {
  /* text-align: center; */
  font-family: horror;
  font-size: 30px;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background:blue;
	background: -moz-linear-gradient(rgba(37, 0, 247, 0.993), rgb(226, 8, 8));
	background: -webkit-linear-gradient(#fff, rgb(216, 7, 7));
	background: -o-linear-gradient(#fff, rgb(240, 8, 8));
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 200px #000;
}

.close:hover { background: #00d9ff; }

.modalBtn{
  color: black;
    background-color: purple;
    font-family: horror;
    font-size: 20px;
    /* text-decoration:none; */
    border-radius: 200px;
    margin-left: 30%;
}
.h3{
  text-decoration: underline;
  text-align: center;
}
.h2{
  text-align: center;
}